body {
  background: url(../img/tdm/galeria/Sports.png); }

.fas {
  margin-right: 10px; }
  .fas.der {
    margin-left: 20px; }

.fas, .titulo {
  font-size: 1.5em; }

.cajarrss {
  display: flex;
  justify-content: start;
  align-items: center; }
  .cajarrss h2 {
    font-style: italic; }
  .cajarrss i {
    margin-left: 10px;
    font-size: 30px; }

.iconos {
  padding: 50px 0; }
  .iconos a i {
    font-size: 30px;
    color: #615d5d; }

.italica {
  font-style: italic; }

aside {
  border: 1px solid #dadada; }
  aside .ranking {
    background-color: #dadada;
    margin: 10px auto;
    padding: 20px; }
    aside .ranking h4 {
      font-size: 17px;
      font-weight: 500; }
    aside .ranking ol li {
      border-bottom: 1px solid #bebebe; }

.colorFondo {
  background-color: #cacaca; }

.jugmes {
  background-color: #cacaca;
  color: #3b3b3b;
  /* img {
      padding: 10px;
  } */ }
  .jugmes .titulo i {
    margin: 0 10px;
    font-size: 16px;
    text-align: center; }
  .jugmes .titulo h5 {
    font-size: 16px;
    text-align: center; }
  .jugmes p, .jugmes a {
    color: #3b3b3b; }
  .jugmes p {
    text-align: justify; }
  .jugmes a:hover {
    color: #000000;
    transition: all .5s ease; }

.contenedor {
  background-color: #252525; }
  .contenedor .sliderJugadores {
    width: 96%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .contenedor .sliderJugadores .titulo {
      align-self: flex-start;
      margin-top: 50px; }
      .contenedor .sliderJugadores .titulo h3 {
        color: #727171;
        padding: 0 20px;
        display: inline-block; }
      .contenedor .sliderJugadores .titulo i {
        color: #b4b4b4; }
    .contenedor .sliderJugadores .subContenedor {
      width: 89%;
      margin: 20px auto 40px auto;
      display: flex;
      overflow: hidden; }
      .contenedor .sliderJugadores .subContenedor .jugador {
        padding: 5px;
        opacity: .7;
        transition: all 1s ease; }
        .contenedor .sliderJugadores .subContenedor .jugador:hover {
          opacity: 1; }
        .contenedor .sliderJugadores .subContenedor .jugador .descripcion {
          text-align: center;
          background-color: #ffffff; }
          .contenedor .sliderJugadores .subContenedor .jugador .descripcion a {
            color: #727171;
            text-decoration: none;
            font-weight: 500;
            font-size: 18px; }
            .contenedor .sliderJugadores .subContenedor .jugador .descripcion a:hover {
              transition: color .3s ease;
              color: #161616; }
            .contenedor .sliderJugadores .subContenedor .jugador .descripcion a:active {
              text-decoration: underline; }
    .contenedor .sliderJugadores .flechas {
      display: flex; }
      .contenedor .sliderJugadores .flechas .caja i {
        font-size: 2.5em;
        color: #615d5d;
        margin-bottom: 50px; }
        .contenedor .sliderJugadores .flechas .caja i.fa-chevron-left {
          margin-right: 20px; }
        .contenedor .sliderJugadores .flechas .caja i.fa-chevron-right {
          margin-left: 20px; }
        .contenedor .sliderJugadores .flechas .caja i:hover {
          cursor: pointer; }
        .contenedor .sliderJugadores .flechas .caja i:active {
          opacity: .7; }

.tituloFormulario h1 {
  padding-top: 50px;
  text-align: center; }

.razonesContacto p {
  text-align: center;
  padding-top: 20px; }
.razonesContacto ul {
  font-style: italic;
  list-style: none;
  list-style: inside; }
  .razonesContacto ul li {
    font-size: 15px; }
  .razonesContacto ul.destacar {
    font-size: 18px; }

.formularioContacto {
  background-color: #dadada;
  padding: 20px;
  border-radius: 10px; }
  .formularioContacto input.nombre {
    width: 200%; }

footer .descripcion {
  text-align: justify; }
  footer .descripcion h3 {
    font-size: 16px;
    font-weight: 400;
    color: #615d5d; }
footer .gris {
  color: #615d5d;
  margin-bottom: 15px;
  margin-top: 15px; }
footer .logos {
  display: flex;
  justify-content: center; }
  footer .logos a img {
    padding-top: 50px;
    width: 100%; }
footer .ubicacion {
  color: #615d5d;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0; }
footer .frase {
  color: #615d5d;
  font-size: 16px;
  font-weight: 400;
  margin: 40px 0;
  text-align: center; }
footer iframe {
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px; }

/*# sourceMappingURL=bt1.css.map */
