body {
  background: url(../img/fondos/black_denim.png);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

header .tituloHeader {
  font-family: 'Dancing Script';
  color: #000000;
  background-color: #ffffff;
  justify-content: center; }
  header .tituloHeader i {
    margin: 0 20px;
    font-size: 30px; }
header .usuario {
  background-color: #ffffff;
  font-family: 'Dancing Script';
  display: flex;
  justify-content: center;
  align-content: center; }
  header .usuario h3, header .usuario i {
    font-size: 20px; }
  header .usuario i {
    margin-left: 10px; }
header nav .container-fluid .navbar-collapse .navbar-nav .nav-item {
  margin-right: 25px; }
  header nav .container-fluid .navbar-collapse .navbar-nav .nav-item a i {
    padding-right: 10px; }

.fas, .titulo {
  font-size: 1em; }

.italica {
  font-style: italic; }

.caruselFotos {
  background: url(../img/fondos/white_leather.png);
  border-radius: 10px;
  padding: 20px;
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */ }

main {
  /*----------------------------------------*/
  /*----------------------------------------*/ }
  main .cajaRedes {
    background: url(../img/fondos/white_leather.png);
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px; }
    main .cajaRedes .cajarrss {
      display: flex;
      justify-content: start;
      align-items: center;
      color: #3b3b3b; }
      main .cajaRedes .cajarrss h2 {
        font-style: italic; }
      main .cajaRedes .cajarrss i {
        margin-left: 10px;
        font-size: 30px; }
    main .cajaRedes .iconos {
      padding: 50px 0; }
      main .cajaRedes .iconos a i {
        font-size: 30px;
        color: #3b3b3b; }
  main .noticiaPrincipal {
    background: url(../img/fondos/black_denim.png);
    border: 1px solid #ffffff; }
    main .noticiaPrincipal .probando h5 {
      padding-bottom: 5px;
      border-bottom: 2px solid #620001; }
  main .tresnoticias .card {
    background-color: #a33c1f; }
    main .tresnoticias .card .card-body {
      color: #FDF0ED; }
      main .tresnoticias .card .card-body h5 {
        padding-bottom: 5px;
        border-bottom: 2px solid #FDF0ED; }
  main .dosnoticias .card .card-body h5 {
    padding-bottom: 5px;
    border-bottom: 2px solid #413c8b; }

aside {
  border: 1px solid #dadada; }
  aside .ranking {
    background-color: #dadada;
    margin: 10px auto;
    padding: 20px; }
    aside .ranking h4 {
      font-size: 17px;
      font-weight: 500; }
    aside .ranking ol li {
      border-bottom: 1px solid #bebebe; }
  aside .colorFondo {
    background: url(../img/fondos/white_leather.png); }
  aside .jugmes {
    background: url(../img/fondos/white_leather.png);
    color: #3b3b3b; }
    aside .jugmes .titulo i {
      margin: 0 10px;
      font-size: 16px;
      text-align: center; }
    aside .jugmes .titulo h5 {
      font-size: 16px;
      text-align: center; }
    aside .jugmes p, aside .jugmes a {
      color: #3b3b3b; }
    aside .jugmes p {
      text-align: justify; }
    aside .jugmes a:hover {
      color: #000000;
      transition: all .5s ease; }

.bordedivisor {
  padding-bottom: 20px;
  border-bottom: 1px solid #b4b4b4; }

.contenedor {
  background: url(../img/fondos/black_denim.png); }
  .contenedor .sliderJugadores {
    width: 96%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .contenedor .sliderJugadores .titulo {
      align-self: flex-start;
      margin-top: 50px; }
      .contenedor .sliderJugadores .titulo h3 {
        color: #f3f3f3;
        padding: 0 20px;
        display: inline-block; }
      .contenedor .sliderJugadores .titulo i {
        color: #f3f3f3;
        font-size: 2em; }
    .contenedor .sliderJugadores .subContenedor {
      width: 89%;
      margin: 20px auto 40px auto;
      display: flex;
      overflow: hidden; }
      .contenedor .sliderJugadores .subContenedor .jugador {
        padding: 5px;
        transition: all 1s ease;
        /* &:hover {
            opacity: 1;
        } */ }
        .contenedor .sliderJugadores .subContenedor .jugador .descripcion {
          text-align: center;
          background-color: #ffffff; }
          .contenedor .sliderJugadores .subContenedor .jugador .descripcion a {
            color: #727171;
            text-decoration: none;
            font-weight: 500;
            font-size: 18px; }
            .contenedor .sliderJugadores .subContenedor .jugador .descripcion a:hover {
              transition: color .3s ease;
              color: #161616; }
            .contenedor .sliderJugadores .subContenedor .jugador .descripcion a:active {
              text-decoration: underline; }
    .contenedor .sliderJugadores .flechas {
      display: flex; }
      .contenedor .sliderJugadores .flechas .caja i {
        font-size: 2.5em;
        color: #dddddd;
        margin-bottom: 50px; }
        .contenedor .sliderJugadores .flechas .caja i.fa-chevron-left {
          margin-right: 20px; }
        .contenedor .sliderJugadores .flechas .caja i.fa-chevron-right {
          margin-left: 20px; }
        .contenedor .sliderJugadores .flechas .caja i:hover {
          cursor: pointer; }
        .contenedor .sliderJugadores .flechas .caja i:active {
          opacity: .7; }

.contenedorFormulario {
  background: url(../img/fondos/white_leather.png); }

.tituloFormulario h1 {
  padding-top: 50px;
  text-align: center; }

.razonesContacto p {
  text-align: center;
  padding-top: 20px; }
.razonesContacto ul {
  font-style: italic;
  list-style: none;
  list-style: inside; }
  .razonesContacto ul li {
    font-size: 15px; }
  .razonesContacto ul.destacar {
    font-size: 18px; }

.formularioContacto {
  background-color: #dadada;
  padding: 20px;
  border-radius: 10px; }
  .formularioContacto input.nombre {
    width: 200%; }

footer {
  background: url(../img/fondos/black_denim.png); }
  footer .iconos {
    padding: 50px 0; }
    footer .iconos a i {
      font-size: 30px;
      color: #fafafa; }
  footer .descripcion {
    text-align: justify; }
    footer .descripcion h3 {
      font-size: 16px;
      font-weight: 400;
      color: #ffffff; }
  footer .gris {
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 15px; }
  footer .logos {
    display: flex;
    justify-content: center; }
    footer .logos a img {
      padding-top: 50px;
      width: 100%; }
  footer .ubicacion {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0; }
  footer .frase {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0;
    text-align: center; }
  footer iframe {
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px; }

@media screen and (max-width: 800px) {
  header .usuario {
    padding-top: 10px; }
    header .usuario h3, header .usuario i {
      font-size: 17px; }

  main .tresnoticias .card {
    background-color: #FDF0ED; }
    main .tresnoticias .card .card-body {
      color: #333333; }
      main .tresnoticias .card .card-body h5 {
        border-bottom: 2px solid #333333; } }

/*# sourceMappingURL=bt1.css.map */
